@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}
<div class="row col-12">
    <form method="post" asp-action="CreateCollection" asp-controller="Collection" enctype="multipart/form-data">
        <div class="row mt-4">
            <div class="col-md-9 mb-3">
                <div class="row">
                    <h1 class="text-center col-12 mb-4">@Localizer["CreateCollection"]</h1>
                    <div class="form-group col-12 row">
                        <label class="col-5 col-sm-4 mt-1">@Localizer["NameCollection"]: </label>
                        <input type="text" name="Name" class="form-control col-7 col-sm-8" />
                    </div>
                    <br />
                </div>
                <div class="row">
                    <label class="col-5 col-sm-4">@Localizer["Topic"]: </label>
                    <div class="col-5 col-sm-3">
                        <select name="Topic" class="custom-select">
                            @foreach (var item in Enum.GetValues(typeof(Topic)))
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div id="dropZone" ondrop="dropHandler(event, fileUpload)" ondragover="dragOverHandler(event)" ondragleave="dragLeaveHandler(event)">
                    <div id="drop" class="text-center">
                        @Localizer["Drop"]
                    </div>
                </div>
                <input id="fileUpload" style="display:none" type="file" name="ImageInput" multiple accept="image/gif, image/jpeg, image/png">
            </div>
        </div>
        <label>@Localizer["Description"]</label>
        <textarea name="Description" class="form-control" rows="10"></textarea>
        <div id="NameElements"></div>
        <br />
        <div class="row">
            <div class="col-5 text-left">
                <input type="button" class="btn btn-primary" onclick="appendElement(NameElements)" value="@Localizer["Element"]" />
            </div>
            <div class="col-7 text-right">
                <input type="submit" class="btn btn-success" value="@Localizer["Create"]" />
            </div>
        </div>
    </form>
</div>
<script>
    function appendElement(element) {
        element.innerHTML += "<div class=\"row mt-2\"><label class=\"col-6 col-md-3 mt-2\">@Localizer["FieldName"]: </label>" +
            "<div class=\"col-6 col-md-3 pl-0\"><input type=\"text\" name=\"names\" class=\"form-control col-12\" /></div> " +
            getInputFieldForNameElement();
    }

    function getInputFieldForNameElement() {
        var html = "<label class=\"col-6 col-md-3 mt-2\">@Localizer["FieldType"]: </label>" +
            "<div class=\"col-6 col-md-3 pr-0\">" +
            "<select name =\"Types\" class=\"custom-select\" style=\"margin-left: -15px\">" +
            "<option value=\"@TypeField.Integer\">@TypeField.Integer</option>" +
            "<option value=\"@TypeField.Checkbox\">@TypeField.Checkbox</option>" +
            "<option value=\"@TypeField.String\">@TypeField.String</option>" +
            "<option value=\"@TypeField.DateTime\">@TypeField.DateTime</option>" +
            "<option value=\"@TypeField.Markdown\">@TypeField.Markdown</option>" +
            "</select></div></div>";
        return html;
    }
</script>
