@model IEnumerable<ProjectForItransition.Models.Collection.ContentCollection>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="list">
    <div class="row">
        @foreach (var collection in Model)
        {
            <div class="col-sm-12">
                <div class="card">
                    @{
                        var url = Cloudinary.Api.UrlImgUp.Format("png")
                                        .Transform(new Transformation().Width(300).Height(200).Crop("fill").Gravity("north").Effect("sepia").Chain());
                        @if (collection.Image != null)
                        {
                            @Html.Raw(url.BuildImageTag(collection.Image.PublicId, new StringDictionary("alt=Image collection", "class= card-img-top")))
                        }
                        else
                        {
                            @Html.Raw(url.BuildImageTag("olbzel1gbnvmqbyjgnyj", new StringDictionary("alt=Image collection", "class= card-img-top")))
                        }
                    }
                    <div class="card-body">
                        <h5 class="card-title">@collection.Name</h5>
                        <p class="card-text">@collection.Description</p>
                        <p class="card-text">Topic - @collection.Topic</p>
                        <form method="get" asp-action="ShowCollection" asp-controller="Collection">
                            <input type="hidden" name="collectionId" value="@collection.Id" />
                            <button class="btn btn-primary">@Localizer["ShowCollection"]</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
