@model IEnumerable<ProjectForItransition.Models.Collection.ContentCollection>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<h1 class="text-center m-3">@Localizer["Header"]</h1>

<div class="m-2 list">
    @foreach (var collection in Model)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    @{

                        @if (collection.Image != null)
                        {
                            var url = Cloudinary.Api.UrlImgUp.Format("png")
                                           .Transform(new Transformation().Width(300).Height(200));
                            @Html.Raw(url.BuildImageTag(collection.Image.PublicId, new StringDictionary("alt=Image collection", "class= card-img-top")))
                        }
                        else
                        {
                            var url = Cloudinary.Api.UrlImgUp.Format("png")
                                           .Transform(new Transformation().Width(300).Height(200).Crop("fill").Gravity("north").Effect("sepia").Chain());
                            @Html.Raw(url.BuildImageTag("olbzel1gbnvmqbyjgnyj", new StringDictionary("alt=Image collection", "class= card-img-top")))
                        }
                    }
                    <div class="card-body">
                        <h5 class="card-title">@collection.Name</h5>
                        <div class="card-text">@Localizer["Topic"] - @collection.Topic</div>
                        <div class="card-text">
                            @if (collection.Description != null)
                            {
                                @Html.Raw(Markdown.ToHtml(collection.Description))
                            }
                        </div>
                        <div class="row text-center">
                            <form method="get" class="col-4" asp-action="ShowCollection" asp-controller="Collection">
                                <input type="hidden" name="CollectionId" value="@collection.Id" />
                                <button class="btn w-100 btn-primary btn-circle"><i class="far fa-eye"></i></button>
                            </form>
                            <form method="get" class="col-4" asp-action="UpdateCollection" asp-controller="Collection">
                                <input type="hidden" name="id" value="@collection.Id" />
                                <button class="btn w-100 btn-primary btn-circle"><i class="far fa-edit"></i></button>
                            </form>
                            <form method="post" class="col-4" asp-action="DeleteCollection" asp-controller="Collection">
                                <input type="hidden" name="id" value="@collection.Id" />
                                <button class="btn w-100 btn-danger btn-circle"><i class="fas fa-ban"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <form method="get" class="text-right" asp-action="CreateCollection" asp-controller="Collection">
        <button class="btn btn-primary">@Localizer["CreateCollection"]</button>
    </form>
</div>