@model ProjectForItransition.Models.ContentCollection
@{ 
    var integers = Model.NameElements.Where(x => x.Type == TypeField.Integer).ToList();
    var dates = Model.NameElements.Where(x => x.Type == TypeField.DateTime).ToList();
    var strings = Model.NameElements.Where(x => x.Type == TypeField.String).ToList();
    var markdowns = Model.NameElements.Where(x => x.Type == TypeField.Markdown).ToList();
    var checkboxes = Model.NameElements.Where(x => x.Type == TypeField.Checkbox).ToList();
    var i = 0;
}
<h1>Коллекция @Model.Name</h1>

<div class="container">
    @if (User.IsInRole("admin") || Model.UserName == User.Identity.Name)
    {
        <form method="get" asp-action="CreateItem" asp-controller="Item">
            <input type="hidden" value="@Model.Id" name="collectionId" />
            <button>Create new item</button>
        </form>
    }
    <h5>Topic - @Model.Topic</h5>
    <div>
        <em>Description - </em>
        @if (Model.Description != null)
        {
            @Html.Raw(Markdown.ToHtml(Model.Description))
        }
    </div>
    <form method="post">
        <div id="filterTag" class="form-control" name="TagsForFilter"></div>
        <div class="form-inline m-1">
            <label class="mr-1">Name: </label>
            <input type="hidden" value="@Model.Id" name="CollectionId" />
            <input id="filterName" name="Name" value="@ViewBag.NameForFilter" class="form-control mr-3" />
            <input type="submit" value="Filter" class="btn btn-outline-dark text-right" />
        </div>
        <input type="hidden" id="sortType" name="sort" />
        <input type="hidden" id="itemIdInput" name="itemId"  />
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="col-2">
                        <button class="btn btn-link" onclick="changeInput(sortType, '@ViewBag.NameSortParm')">Name Item</button>
                    </th>
                    <th scope="col">
                        <button class="btn btn-link" onclick="changeInput(sortType, '@ViewBag.TagSortParm')">Tags</button>
                    </th>
                    @if (integers.Count() > 0)
                    {
                        <th scope="col">
                            <button class="btn btn-link" onclick="changeInput(sortType, '@ViewBag.IntegerSortParm')">Integer fields</button>
                        </th>
                    }
                    @if (dates.Count() > 0)
                    {
                        <th scope="col">
                            <button class="btn btn-link" onclick="changeInput(sortType, '@ViewBag.DateSortParm')">Date fields</button>
                        </th>
                    }
                    @if (strings.Count() > 0)
                    {
                        <th scope="col">
                            <button class="btn btn-link" onclick="changeInput(sortType, '@ViewBag.StringSortParm')">String fields</button>
                        </th>
                    }
                    @if (markdowns.Count() > 0)
                    {
                        <th scope="col">
                            <button class="btn btn-link" onclick="changeInput(sortType, '@ViewBag.MarkdownSortParm')">Markdown fields</button>
                        </th>
                    }
                    @if (checkboxes.Count() > 0)
                    {
                        <th scope="col">
                            <button class="btn btn-link" onclick="changeInput(sortType, '@ViewBag.CheckboxSortParm')">Checkbox fields</button>
                        </th>
                    }
                    <th scope="col" class="col-1">
                        Possibilities
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <th scope="row">
                            <button class="btn btn-link" onclick="changeInput(itemIdInput,@item.Id)" asp-action="Index" asp-controller="Item" formmethod="get">@item.Name</button>
                        </th>
                        <td>
                            @if (item.Tags != null)
                            {
                                @foreach (var tag in item.Tags)
                                {
                                    <span>@tag.Name </span>
                                }
                            }
                        </td>
                        @if (integers.Count() > 0)
                        {
                            <td>
                                @{i = 0;}
                                @foreach (var name in integers)
                                {
                                    <div>
                                        @name.Name -
                                        @if (item.IntegerElements.Count() > i)
                                        {
                                            <span> @item.IntegerElements[i].Value</span>
                                            i++;
                                        }
                                        else
                                        {
                                            <span> not found in this item</span>
                                        }
                                    </div>
                                }
                            </td>
                        }
                        @if (dates.Count() > 0)
                        {
                            <td>
                                @{i = 0;}
                                @foreach (var name in dates)
                                {
                                    <div>
                                        @name.Name -
                                        @if (item.DateTimeElements.Count() > i)
                                        {
                                            <span> @item.DateTimeElements[i].Value</span>
                                            i++;
                                        }
                                        else
                                        {
                                            <span> not found in this item</span>
                                        }
                                    </div>
                                }
                            </td>
                        }
                        @if (strings.Count() > 0)
                        {
                            <td>
                                @{i = 0;}
                                @foreach (var name in strings)
                                {
                                    <div>
                                        @name.Name -
                                        @if (item.StringElements.Count() > i)
                                        {
                                            <span> @item.StringElements[i].Value</span>
                                            i++;
                                        }
                                        else
                                        {
                                            <span> not found in this item</span>
                                        }
                                    </div>
                                }
                            </td>
                        }
                        @if (markdowns.Count() > 0)
                        {
                            <td>
                                @{i = 0;}
                                @foreach (var name in markdowns)
                                {
                                    <div>
                                        @name.Name -
                                        @if (item.MarkdownElements.Count() > i)
                                        {
                                            <span> @item.MarkdownElements[i].Value</span>
                                            i++;
                                        }
                                        else
                                        {
                                            <span> not found in this item</span>
                                        }
                                    </div>
                                }
                            </td>
                        }
                        @if (checkboxes.Count() > 0)
                        {
                            <td>
                                @{i = 0;}
                                @foreach (var name in checkboxes)
                                {
                                    <div>
                                        @name.Name -
                                        @if (item.CheckboxElements.Count() > i)
                                        {
                                            if (@item.CheckboxElements[i].Value)
                                            {
                                                <input name="checkboxes" type="checkbox" checked disabled />
                                            }
                                            else
                                            {
                                                <input name="checkboxes" type="checkbox" disabled />
                                            }
                                            i++;
                                        }
                                        else
                                        {
                                            <span> not found in this item</span>
                                        }
                                    </div>
                                }
                            </td>
                        }
                        <td>
                            <button class="btn btn-primary btn-circle w-100 m-1" onclick="changeInput(itemIdInput,@item.Id)" asp-action="UpdateItem" asp-controller="Item" formmethod="get">
                                <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-circle w-100 m-1" onclick="changeInput(itemIdInput,@item.Id)" asp-action="DeleteItem" asp-controller="Item" formmethod="get">
                                <i class="fas fa-ban"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
<script>
    function changeInput(element, str) {
        element.value = str;
    }
</script>