@inject SignInManager<IdentityUser> SignInManager
@inject IViewLocalizer Localizer

<div class="collapse navbar-collapse flex-grow-1">
    <ul class="navbar-nav mr-auto">
        @if (User.IsInRole("admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">@Localizer["Admin"]</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Collection" asp-action="Index">@Localizer["ListCollection"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["YourCollections"]</a>
        </li>
    </ul>
    <div>
        <ul class="navbar-nav mr-auto">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item active">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        @User.Identity.Name
                    </a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">@Localizer["Logout"]</button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
                </li>
            }
        </ul>
    </div>
</div>