@model ProjectForItransition.ViewModels.Collection.ShowCollectionViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="row col-12">
    <div class="row mt-4">
        <h1 class="text-center col-12 mb-4">@Localizer["CreateItem"]</h1>
        <div class="col-12">
            <form method="post" asp-action="CreateItem" asp-controller="Item">
                <input type="hidden" name="CollectionId" value="@Model.Collection.Id" />
                <div class="row mb-3">
                    <label class="col-5 col-sm-4 mt-1">@Localizer["NameItem"]: </label>
                    <div class="col-7 col-sm-8">
                        <input type="text" name="Name" class="form-control" />
                    </div>
                </div>
                <input id="createTag" name="Tags" placeholder="@Localizer["Tags"]" class="form-control col-12 mb-3" />
                <div class="row">
                    <div class="col-12 text-center">
                        <label class="mb-3 mt-3 h6">@Localizer["CustomField"]</label>
                    </div>
                </div>
                <div class="row mb-2">
                    @{
                        int box = 1;
                        @foreach (var NameField in Model.Collection.NameElements)
                        {
                            <div class="col-sm-4 text-sm-left text-center mt-1 mb-2">
                                @NameField.Name : 
                            </div>
                            <div class="col-sm-8  mb-2">
                                @switch (NameField.Type)
                                {
                                    case TypeField.Integer:
                                        <input type="number" class="form-control" name="Integers" />
                                        break;
                                    case TypeField.String:
                                        <input type="text" class="form-control" name="Strings" />
                                        break;
                                    case TypeField.Markdown:
                                        <textarea name="Markdowns" class="form-control" rows="10"></textarea>
                                        break;
                                    case TypeField.DateTime:
                                        <input type="date" class="form-control" name="Datetimes" />
                                        break;
                                    case TypeField.Checkbox:
                                        <input name="Checkboxes" class="form-control" type="checkbox" value=@box>
                                        box++;
                                        break;
                                }
                            </div>
                        }
                    }
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <input type="submit" class="btn btn-success" value="@Localizer["Create"]" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var allTags = new Array();
    var htmlItem = document.createElement('div');
    @if (Model.AllTags != null)
    {
        foreach (var item in Model.AllTags)
        {
            @:htmlItem.innerHTML = "@item";
            @:allTags.push(htmlItem.innerHTML);
        }
    }
    $(function () {
        $('#createTag').magicSuggest({
            data: allTags,
        });
    });
</script>
