@model ProjectForItransition.ViewModels.Items.ShowItemModel

@{
    ViewData["Title"] = "Update Item";
}

<h1>Update Item</h1>
<form method="post" asp-action="UpdateItem" asp-controller="Item">
    <input type="hidden" name="itemId" value="@Model.Item.Id" />
    <input type="hidden" name="CollectionId" value="@Model.CollectionId" />
    <h2>Name Item</h2>
    <input type="text" name="Name" class="form-control" value="@Model.Item.Name" />
    @{
        string tags = string.Empty;
        foreach (var tag in Model.Item.Tags)
        {
            tags += tag.Name + " ";
        }

    }
    <label>Tags</label>
    <div id="updateTag" class="form-control" name="Tags"></div>
    <p>Custom Field</p>

    <div class="row">
        @{
            int integer = 0;
            int strings = 0;
            int markdown = 0;
            int checkbox = 0;
            int datetime = 0;
            int box = 1;
            @foreach (var NameField in Model.Fields)
            {
                <div class="col-12 mb-2">
                    @NameField.Name -
                    @switch (NameField.Type)
                    {
                        case TypeField.Integer:
                            if (Model.Item.IntegerElements.Count() > integer)
                            {
                                <input type="number" name="integers" value="@Model.Item.IntegerElements[integer].Value" />
                            }
                            else
                            {
                                <input type="number" name="integers" />
                            }
                            integer++;
                            break;
                        case TypeField.String:
                            if (Model.Item.StringElements.Count() > strings)
                            {
                                <input type="text" class="form-control" name="strings" value="@Model.Item.StringElements[strings].Value" />
                            }
                            else
                            {
                                <input type="text" name="strings" />
                            }
                            strings++;
                            break;
                        case TypeField.Markdown:
                            if (Model.Item.MarkdownElements.Count() > markdown)
                            {
                                <textarea name="markdowns" class="form-control" rows="10"> @Model.Item.MarkdownElements[markdown].Value </textarea>
                            }
                            else
                            {
                                <input type="text" name="markdowns" />
                            }
                            markdown++;
                            break;
                        case TypeField.DateTime:
                            if (Model.Item.DateTimeElements.Count() > datetime)
                            {
                                <input type="date" name="datetimes" value="@Model.Item.DateTimeElements[datetime].Value" />
                            }
                            else
                            {
                                <input type="date" name="datetimes" />
                            }
                            datetime++;
                            break;
                        case TypeField.Checkbox:
                            if (Model.Item.CheckboxElements.Count() > checkbox)
                            {
                                if (Model.Item.CheckboxElements[checkbox].Value)
                                {
                                    <input name="checkboxes" type="checkbox" value=@box checked />
                                }
                                else
                                {
                                    <input name="checkboxes" type="checkbox" value=@box />
                                }
                            }
                            else
                            {
                                <input name="checkboxes" type="checkbox" value=@box>
                            }
                            checkbox++;
                            box++;
                            break;
                    }
                </div>
            }
        }
    </div>
    <input type="submit" value="Update" />
</form>
