@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="row">
    <h2 class="col-12 text-center mb-4">@Localizer["RoleList"]</h2>
    <table class="table table-bordered col-12 mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-10">
                    @Localizer["Role"]
                </th>
                <th scope="col" class="text-center">
                    @Localizer["Possibilities"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <th scope="row">@role.Name</th>
                    <td class="text-center">
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                @Localizer["Delete"]
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-6 text-left mt-3"><a asp-action="UserList" class="btn btn-primary">@Localizer["ListUser"]</a></div>
    <div class="col-6 text-right mt-3"><a asp-action="Create" class="btn btn-primary">@Localizer["AddRole"]</a></div>
</div>
