@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="row">
    <h2 class="col-12 text-center mb-4">@Localizer["UserList"]</h2>
    <table class="table table-bordered col-12 mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-10">
                    @Localizer["User"]
                </th>
                <th scope="col" class="text-center">
                    @Localizer["Possibilities"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@user.Email</th>
                    <td class="text-center">
                        <a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-userid="@user.Id">@Localizer["Rights"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
