@model ProjectForItransition.ViewModels.Collection.IndexViewModel

@inject IViewLocalizer Localizer 

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="row col-12 pr-0">
    <div class="col-lg-4 card border mt-1 pb-2">
        <div class="row mt-2 mt-1">
            <div class="col-2"></div>
            <div id="container2" class="col-9"></div> 
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center m-2">@Localizer["LastItems"]</h3>
            </div>
            @if (Model.Items != null)
            {
                foreach (var item in Model.Items)
                {
                    <div class="col-12 left">
                        <form asp-action="Index" asp-controller="Item" class="float-left" method="get">
                            <input type="hidden" name="collectionId" value="@item.Collection.Id" />
                            <input type="hidden" name="itemId" value="@item.Id" />
                            <button class="btn btn-link"><div class="h4 text-left m-0">@item.Name</div></button>
                        </form>
                    </div>
                    <div class="col-12 mb-4">
                        @Localizer["Tags"] - 
                        @if (item.Tags != null)
                        {
                            foreach (var tag in item.Tags.Select(x => x.Name))
                            {
                                <span>@tag </span>
                            }
                        }
                    </div>
                }
            }
            else
            {
                <div class="col-12">@Localizer["NoItems"]</div>
            }
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            @foreach (var collection in Model.Collections)
            {
                <div class="col-sm-6 mt-1 pl-1 pr-1 card-group">
                    <div class="card">
                        @{
                            @if (collection.Image != null)
                            {
                                var url = Cloudinary.Api.UrlImgUp.Format("png")
                                               .Transform(new Transformation().Width(300).Height(250));

                                @Html.Raw(url.BuildImageTag(collection.Image.PublicId, new StringDictionary("alt=Image collection", "class= card-img-top")))
                            }
                            else
                            {
                                var url = Cloudinary.Api.UrlImgUp.Format("png")
                                            .Transform(new Transformation().Width(300).Height(250).Crop("fill").Gravity("north").Effect("sepia").Chain());

                                @Html.Raw(url.BuildImageTag("olbzel1gbnvmqbyjgnyj", new StringDictionary("alt=Image collection", "class= card-img-top")))
                            }
                        }
                        <div class="card-body pb-5">
                            <h5 class="card-title">@collection.Name</h5>
                            <div class="card-subtitle">@Localizer["Topic"] - @collection.Topic</div>
                            <div class="card-text">@collection.Description</div>
                            <div class="card-text">@Localizer["Amount"] - @collection.Items.Count()</div>
                            <div class="card-text card-bottom btn-group mr-1">
                                <form method="get" asp-action="ShowCollection" asp-controller="Collection">
                                    <input type="hidden" name="collectionId" value="@collection.Id" />
                                    <button class="btn btn-primary">@Localizer["ShowCollection"]</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script charset="utf-8">
    let items = new Array();
    let html = document.createElement('div');
    @foreach (var item in Model.Tags)
    {
        @:html.innerHTML = "@item.Name";
        @:items.push({ text: html.innerHTML, weight: @item.Count, link: './Search/Index/?tag=' + html.innerHTML })
    }
    $(function () {
        document.getElementById
        $("#container2").jQCloud(items, {
            height: 200,
        });
    });
</script>