@model ProjectForItransition.ViewModels.Roles.ShowViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="row">
    <h2 class="col-12 text-center mb-4 mt-4">@Localizer["UserData"]</h2>
    @if (User.IsInRole("admin"))
    {
        <ul>
            <li>@Localizer["ID"] - @Model.UserId</li>
            <li>@Localizer["Email"] - @Model.UserEmail</li>
            <li>@Localizer["UserName"] - @Model.UserName</li>
            <li>@Localizer["Role"] - @(Model.UserRoles.Contains("admin") ? "Admin" : "User")</li>
        </ul>
    }
    <div class="col-12 text-left m-3">
        <form asp-action="Admin" asp-controller="Home" method="post">
            <input type="submit" class="btn btn-primary" value="@Localizer["Back"]">
        </form>
    </div>
</div>